In [27]:
import pandas as pd

df = pd.read_csv("complete_data_6-12hs.csv")
# df = pd.read_csv("complete_data_12-24hs.csv")

In [28]:
df

,hadm_id,HR_mean,HR_max,HR_min,HR_std,HR_var,HR_skewness,HR_kurtosis,HR_q1,HR_q2,...,Glucose_skewness,Glucose_kurtosis,Glucose_q1,Glucose_q2,Glucose_q3,subject_id,admission_type,gender,anchor_age,sepsis
0,24597018,89.368421,106.0,78.0,8.043013,64.690058,0.208012,-0.288504,86.00,89.0,...,0.000000,0.000000,113.0,113.0,113.00,10001217,5,0,55,0.0
1,27703517,79.952381,96.0,69.0,5.792031,33.547619,0.740274,2.077318,78.00,79.0,...,0.000000,-6.000000,113.0,129.0,145.00,10001217,1,0,55,0.0
2,25563031,80.105263,91.0,55.0,7.950505,63.210526,-1.650565,4.791607,77.50,81.0,...,0.713340,1.785467,150.5,152.0,154.25,10001725,5,0,46,0.0
3,26184834,68.454545,72.0,38.0,7.176199,51.497835,-4.062072,17.219497,70.00,70.0,...,0.000000,0.000000,142.0,144.0,146.00,10001884,6,0,68,0.0
4,23581541,95.866667,105.0,80.0,7.529624,56.695238,-0.527540,-0.580098,91.00,99.0,...,1.238857,2.053141,154.0,155.0,177.00,10002013,7,0,53,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43405,21439025,103.166667,107.0,100.0,2.639444,6.966667,0.319046,-1.170990,101.25,103.0,...,0.000000,0.000000,134.0,147.0,160.00,19999297,6,1,42,0.0
43406,26785317,94.000000,110.0,85.0,9.823441,96.500000,1.376637,1.864694,88.00,91.0,...,0.000000,0.000000,149.5,150.0,150.50,19999442,3,1,41,0.0
43407,25304202,69.166667,74.0,64.0,3.710346,13.766667,-0.196427,-0.991095,66.75,69.5,...,0.000000,0.000000,121.0,121.0,121.00,19999625,5,1,81,0.0
43408,25744818,102.333333,105.0,100.0,2.338090,5.466667,0.245145,-2.413742,100.25,102.0,...,0.176847,-1.912339,156.5,167.0,187.50,19999828,5,0,46,0.0
43409,23865745,91.666667,95.0,89.0,2.160247,4.666667,0.462910,-0.300000,90.25,91.5,...,0.000000,0.000000,122.0,122.0,122.00,19999987,5,0,57,0.0

In [29]:
df.sepsis.value_counts()

sepsis
0.0    38182
1.0     5228
Name: count, dtype: int64

In [30]:
df.shape

(43410, 76)

In [31]:
radiology_df = pd.read_csv("radiology.csv")

In [32]:
radiology_df.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-RR-14,10000032,22595853.0,RR,14,2180-05-06 21:19:00,2180-05-06 23:32:00,EXAMINATION: CHEST (PA AND LAT)\n\nINDICATION...
1,10000032-RR-15,10000032,22595853.0,RR,15,2180-05-06 23:00:00,2180-05-06 23:26:00,EXAMINATION: LIVER OR GALLBLADDER US (SINGLE ...
2,10000032-RR-16,10000032,22595853.0,RR,16,2180-05-07 09:55:00,2180-05-07 11:15:00,"INDICATION: ___ HCV cirrhosis c/b ascites, hi..."
3,10000032-RR-18,10000032,NaN,RR,18,2180-06-03 12:46:00,2180-06-03 14:01:00,EXAMINATION: Ultrasound-guided paracentesis.\...
4,10000032-RR-20,10000032,NaN,RR,20,2180-07-08 13:18:00,2180-07-08 14:15:00,EXAMINATION: Paracentesis\n\nINDICATION: ___...

In [33]:
ids = df.hadm_id.tolist()

In [34]:
rad_df = radiology_df[radiology_df.hadm_id.isin(ids)]

df_min = (
    rad_df[rad_df['text'].str.startswith('INDICATION', na=False)]
    .loc[lambda x: x.groupby('hadm_id')['note_seq'].idxmin()]
    .reset_index(drop=True)
)

In [35]:
df_min

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,14990224-RR-6,14990224,20000147.0,RR,6,2121-08-30 22:23:00,2121-08-30 22:41:00,INDICATION: ___ year old man s/p Emergent CAB...
1,16788749-RR-13,16788749,20000808.0,RR,13,2180-01-13 12:59:00,2180-01-13 14:19:00,INDICATION: A ___ woman with right cerebellar...
2,16003661-RR-131,16003661,20001305.0,RR,131,2178-03-25 02:34:00,2178-03-25 04:20:00,INDICATION: ___ with copd in resp distress in...
3,10117812-RR-21,10117812,20001770.0,RR,21,2117-01-28 07:15:00,2117-01-28 12:00:00,"INDICATION: ___ year old woman with alc hep, ..."
4,18826698-RR-135,18826698,20002252.0,RR,135,2157-09-23 19:40:00,2157-09-23 21:53:00,"INDICATION: Patient with seizure, fall and he..."
...,...,...,...,...,...,...,...,...
26620,15129243-RR-10,15129243,29999098.0,RR,10,2128-06-11 07:10:00,2128-06-11 12:48:00,INDICATION: ___ year old man with ruptured AC...
26621,14641622-RR-12,14641622,29999186.0,RR,12,2135-07-14 05:31:00,2135-07-14 08:36:00,"INDICATION: Cholecystitis, evaluation of lung..."
26622,10053207-RR-71,10053207,29999444.0,RR,71,2199-12-14 19:43:00,2199-12-14 20:38:00,"INDICATION: Fever, tachycardia, abdominal pai..."
26623,10355856-RR-3,10355856,29999625.0,RR,3,2157-11-07 09:37:00,2157-11-07 10:43:00,INDICATION: ___ intubated// ?tube placement\n...
26624,16572164-RR-15,16572164,29999828.0,RR,15,2180-10-28 02:23:00,2180-10-28 10:00:00,INDICATION: Status post gastric bypass with i...

In [36]:
df_min = pd.merge(df_min, df[['hadm_id', 'sepsis']], on='hadm_id')

In [37]:
df_min.sepsis.value_counts()

sepsis
0.0    22547
1.0     4078
Name: count, dtype: int64

In [38]:
df_min.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,sepsis
0,14990224-RR-6,14990224,20000147.0,RR,6,2121-08-30 22:23:00,2121-08-30 22:41:00,INDICATION: ___ year old man s/p Emergent CAB...,0.0
1,16788749-RR-13,16788749,20000808.0,RR,13,2180-01-13 12:59:00,2180-01-13 14:19:00,INDICATION: A ___ woman with right cerebellar...,0.0
2,16003661-RR-131,16003661,20001305.0,RR,131,2178-03-25 02:34:00,2178-03-25 04:20:00,INDICATION: ___ with copd in resp distress in...,0.0
3,10117812-RR-21,10117812,20001770.0,RR,21,2117-01-28 07:15:00,2117-01-28 12:00:00,"INDICATION: ___ year old woman with alc hep, ...",0.0
4,18826698-RR-135,18826698,20002252.0,RR,135,2157-09-23 19:40:00,2157-09-23 21:53:00,"INDICATION: Patient with seizure, fall and he...",0.0

In [39]:
df_balanced = df_min.copy()

### Balance

In [40]:
# Separate classes
df_majority = df_min[df_min['sepsis'] == 0]
df_minority = df_min[df_min['sepsis'] == 1]

# Downsample majority
df_majority_down = df_majority.sample(
    n=len(df_minority),
    random_state=42
)

# Combine and shuffle
df_balanced = (
    pd.concat([df_majority_down, df_minority])
    .sample(frac=1, random_state=42)
    .reset_index(drop=True)
)

In [15]:
df_balanced.to_csv("radiology_notes.csv", index=False)

### Tabular Data

In [41]:
tabular_df = df[df.hadm_id.isin(df_balanced.hadm_id.tolist())]

In [42]:
tabular_df = pd.merge(tabular_df, df_balanced[['hadm_id', 'text']], on='hadm_id')

In [43]:
tabular_df.sepsis.value_counts()

sepsis
1.0    4078
0.0    4078
Name: count, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split

# --------------------------
# Step 1: Train 60%, Temp 40%
# --------------------------
train_df, temp_df = train_test_split(
    tabular_df,
    test_size=0.3,
    stratify=tabular_df["sepsis"],
    random_state=42
)

# --------------------------
# Step 2: Split temp → DSEL 20%, Test 20%
# --------------------------
dsel_df, test_df = train_test_split(
    temp_df,
    test_size=0.5,
    stratify=temp_df["sepsis"],
    random_state=42
)

In [45]:
train_df.to_csv("sepsis_data/train.csv", index=False) 
dsel_df.to_csv("sepsis_data/dsel.csv", index=False) 
test_df.to_csv("sepsis_data/test.csv", index=False)